<div ng-controller="CreateProduct">
    <form name="formCreate" ng-submit="submitCreatePhone()">
        <h3>Create new phone</h3>
        <div class="form-group">
            <input
                type="text"
                placeholder="Type your phone name"
                ng-model="name"
                name="name"
                required
                ng-maxlength="255"
            >
            <div
                class="text-danger"
                ng-show="formCreate.name.$error.required && formCreate.name.$touched"
            >Vui lòng điền tên sản phẩm</div>
            <div
                class="text-danger"
                ng-show="formCreate.name.$error.maxlength && formCreate.name.$touched"
            >Email không quá 255 ký tự</div>
        </div>
        <div class="form-group">
            <input
                type="text"
                placeholder="Type your phone price"
                ng-model="price"
                name="price"
                required
                ng-pattern="/^\d+$/"
            >
            <div
                class="text-danger"
                ng-show="formCreate.price.$error.required && formCreate.price.$touched"
            >Vui lòng điền giá sản phẩm</div>
            <div
                class="text-danger"
                ng-show="formCreate.price.$error.pattern && formCreate.price.$touched"
            >Giá sản phẩm sai định dạng</div>
        </div>
        <div class="form-group">
            <div>
                <input
                    type="file"
                    ng-model="image"
                    name="image"
                    custom-on-change="uploadFile"
                    custom-input-valid-extension="jpg,png"
                    custom-input-file-size="100"
                    required
                >
            </div>
            <div
                class="text-danger"
                ng-show="formCreate.image.$error.validExtension && formCreate.image.$touched"
            >Ảnh sai định dạng</div>
            <div
                class="text-danger"
                ng-show="formCreate.image.$error.validFileSize && formCreate.image.$touched"
            >Kích thước ảnh quá lớn</div>
            <img
                style="width: 150px;"
                src="{{previewImageUrl}}"
                class="mt-2"
            >
        </div>
        <button
            class="btn btn-info"
            ng-disabled="formCreate.$invalid"
        >Submit</button>
    </form>

    <div ng-init="say=1;"></div>
    <test say="say"></test>
    <button ng-click="say=2">Click</button>
    <div>{{say}}</div>
</div>
