<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS learning</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body ng-app="myApp" ng-controller="myCtrl" class="p-3">
    
    <div class="mb-3" ng-include="'header.html'"></div>

    <div class="pb-3">
        <input type="text" ng-model="keyword" ng-enter-press="searchKeyWord()" placeholder="Tìm kiếm...">
        <select ng-model="orderPrice" ng-options="item as item.label for item in items track by item.id">
        </select>
        <button ng-click="submitSearch()">Tìm kiếm</button>
    </div>

    <div class="row">
        <div
            class="col-lg-3"
            ng-repeat="phone in phones | orderBy:orderByValue | filter:keywordValue"
        >
            <div class="card w-100">
                <div class="p-3"><img class="card-img-top" src="{{phone.img}}" alt="Card image cap"></div>
                <div class="card-body">
                    <h5 class="card-title">{{phone.name | wrap}}</h5>
                    <p class="card-text">{{phone.price | vnd}}</p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="module.js"></script>
<script src="route.js"></script>
<script src="services.js"></script>
<script src="filter.js"></script>
<script src="controller.js"></script>
<script src="directive.js"></script>

</html>